parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - buckmerce-plaid.php
    - uninstall.php
  bootstrapFiles:
    - tests/phpstan-bootstrap.php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    - tests/phpstan-stubs/wp-cli.php
  scanDirectories:
    - vendor-prefixed
